body {
  padding-top: 75px;
  background-color: #EEEEEE;
}


.pin {
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(77,77,77,0.1);
  -moz-box-shadow: 0px 0px 1px 0px rgba(77,77,77,0.1);
  box-shadow: 0px 0px 1px 0px rgba(77,77,77,0.1);
}

.pin img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.pin-content {

}


.pin-description {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #EEEEEE;
}

.user {
    padding: 10px;
}

.user-detail {
  font-weight: bold;
}

.user-actions {
  font-size: 12px;
}

.grid-item {
  margin-bottom: 25px;
}

.logo2 {
  margin: 80px 0px;
  width: 100%;
}

.background {
  background: url(image-path("space.png"));
  background-size: cover;
}


#boards a:hover {
  text-decoration: none;
}

.panel-body {
  padding: 0px;
}
